<h2>Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false } }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <!-- Subscription Plans -->
  <h4>Select Subscription Plan:</h4>
  <div class="form-group">
    <%= f.radio_button :plan, 'monthly' %> Monthly - $15.00<br />
    <%= f.radio_button :plan, 'six_months' %> Six Months - $12.00/month<br />
    <%= f.radio_button :plan, 'annual' %> Annual - $10.00/month<br />
  </div>

  <div class="actions mt-4">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>