<p style="color: green"><%= notice %></p>

<% content_for :title, "Projects" %>

<h1>Projects</h1>
<%= link_to "New project", new_project_path %>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
      <%= link_to "Edit", edit_project_path(project) %> | 
      <%= button_to "Destroy", project, method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
    <p>
      <%= link_to "Add material to this project", new_project_material_path(project) %> |
      <%= link_to "Add worker to this project", new_project_worker_path(project) %>
    </p>
  <% end %>
</div>
