<%= form_with(model: [@project, worker], local: true) do |form| %>
  <% if worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

   <div class="field">
    <%= form.label :job_title %>
    <%= form.text_field :job_title, class: "form-control" %> <!-- Added job_title input -->
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.number_field :rate, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :paid_value %>
    <%= form.number_field :paid_value, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :worked_hours %>
    <%= form.number_field :worked_hours, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
