<div id="<%= dom_id worker %>">
  <p>
    <strong>Project:</strong>
    <%= worker.project_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= worker.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= worker.phone %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= worker.rate %>
  </p>

  <p>
    <strong>Paid value:</strong>
    <%= worker.paid_value %>
  </p>

  <p>
    <strong>Worked hours:</strong>
    <%= worker.worked_hours %>
  </p>

</div>
