<p style="color: green"><%= notice %></p>

<% content_for :title, "Workers" %>

<h1>Workers</h1>

<div id="workers">
  <% @workers.each do |worker| %>
    <%= render worker %>
    <p>
      <%= link_to "Show this worker", worker %> |
      <%= link_to "Edit", edit_worker_path(worker) %> | 
      <%= button_to "Destroy", worker, method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>
</div>

<%= link_to "New worker", new_worker_path %>