<div id="<%= dom_id material %>">
  <p>
    <strong>Project:</strong>
    <%= material.project_id %>
  </p>

  <p>
    <strong>Store name:</strong>
    <%= material.store_name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= material.phone %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= material.rate %>
  </p>

  <p>
    <strong>Paid value:</strong>
    <%= material.paid_value %>
  </p>

</div>
